.logo-container {
  height: 100%;
}

.rustacean {
  position: relative;
  height: 66px;
  padding: 5px;
  cursor: pointer;
}

.react-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: auto;
  z-index: 2;
}
