:root {
  --nav-height-desktop: 76px;
  --nav-height-mobile: 56px;
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--fg-light);
  height: var(--nav-height-desktop);
}


@media (min-width: 1360px) {
  .navigation-container {
    max-width: 1360px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .navigation-container {
    height: var(--nav-height-mobile);
  }
}

